html,
body {
  background-color: #0e1217;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  color: transparent;
  --to: #ce3df3;
  --from: #fc538d;
  background-image: linear-gradient(to right, var(--from), var(--to));
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  background-clip: text;
  -webkit-background-clip: text;
}
